
* {
    font-family: 'Roboto', sans-serif;
}

/*Bootstrap layout*/

body {
    overflow: auto;
}

.row {
    background-color: 151515;
    margin-bottom: -1rem;
}

.container-fluid {
    background-color: 202020;
    padding: 0.8rem;
    border-radius: 10px;
    margin: 1.3rem;  
    padding-top: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dmdr-info-row {
    padding: 0.2rem;
}

#dmdr-pending-previous {
    height: 41.1vh;
}

#dmdr-inventory-box {
    height: 85vh;
}

.dmdr-side-menu {
    height: 100vh;
}

.col-sm-3 {
    background-color: 202020;
    height: end;
}

.col-sm-9 {
  
}

.container {
    background-color: 303030;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
    overflow-x: hidden;
}

#username-field{
    background-color:gold;
}

#previous-demands-box{
    background-color: aqua;
}

#pending-demands-box{
    background-color: blueviolet;
}

#available-items-box{
    background-color: crimson;
}

p {
    color: FFFFFF;
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-right: 0.5rem;
}

dmdr-button:hover {
    opacity: 70%;
}
.dmdr-button {
    background-color: 5568FE !important;
    border-radius: 10px;
    border-style: none;
    color: white !important;
    text-align: center;
    font-size: 13px;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    margin-left:auto;
    margin-right: auto;
    cursor: pointer;
}

.dmdr-button-side {
    background-color: 5568FE !important;
    border-radius: 10px;
    border-style: none;
    color: white !important;
    text-align: center;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    display: block;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.hr {
    border-width: 3px;
    border-color: 303030;
    border-radius: 10px;
}

#dmdr-home-link {
    background-color: 151515;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    text-align: center; 
    width: 103.9%;
}

a:link { 
    text-decoration: none;
    color: CDCDCD;
}
a:hover {
    color: 5568FE;
}

img {
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 12%;
}

#dmdr-usrnm {
    display: flex;
    justify-content: right;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

#dmdr-pending-status {
    background-color: A1A368; 
    border-radius: 10px; 
    padding: 5px;
    display: block;
    width: 7rem;
    text-align: center;
}

#dmdr-status {
    background-color: #58AF4A; 
    border-radius: 10px; 
    padding: 5px;
    display: block;
    width: 7rem;
    text-align: center;
}

/*Scrollbar Properties*/

.scrollbar::-webkit-scrollbar {
    width: auto;
}
  
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #303030;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 10px;
    border: solid #303030;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #202020;
}

