
* {
    font-family: 'Roboto', sans-serif;
}

.row {
    background-color: 151515;
    margin-bottom: -1rem;
}

.container-fluid {
    background-color: 202020;
    padding: 0.8rem;
    border-radius: 10px;
    margin: 1.3rem;  
    padding-top: 1.2rem;
}

#info-row {
    padding: 0.2rem;
}

#pending-previous {
    height: 41.1vh;
}

#inventory-box {
    height: 85vh;
}

.side-menu {
    height: 100vh;
}

.col-sm-3 {
    background-color: 202020;
    height: end;
}

.col-sm-9 {
  
}

.container {
    background-color: 303030;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
}

#username-field{
    background-color:gold;
}

#previous-demands-box{
    background-color: aqua;
}

#pending-demands-box{
    background-color: blueviolet;
}

#available-items-box{
    background-color: crimson;
}

p {
    color: FFFFFF;
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-right: 0.5rem;
}

button:hover {
    opacity: 70%;
}
.button {
    background-color: 5568FE !important;
    border-radius: 10px;
    border-style: none;
    color: white !important;
    text-align: center;
    font-size: 13px;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 40%;
    cursor: pointer;
}

.button-side {
    background-color: 5568FE !important;
    border-radius: 10px;
    border-style: none;
    color: white !important;
    text-align: center;
    padding: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    display: block;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.hr {
    border-width: 3px;
    border-color: 303030;
    border-radius: 10px;
}

#home-link {
    background-color: 151515;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    text-align: center; 
    width: 103.9%;
}

a:link { 
    text-decoration: none;
    color: CDCDCD;
}
a:hover {
    color: 5568FE;
}

img {
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 12%;
}

#usrnm {
    display: flex;
    justify-content: right;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

#pending-status {
    background-color: A1A368; 
    border-radius: 10px; 
    padding: 5px;
    display: block;
    width: 7rem;
    text-align: center;
}

#status {
    background-color: #58AF4A; 
    border-radius: 10px; 
    padding: 5px;
    display: block;
    width: 7rem;
    text-align: center;
}

